<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>
    <!-- Endpoints Library, call the init function when it's done loading -->
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <!-- Polymer -->
    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/core-icons/core-icons.html">
    <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/bower_components/font-roboto/roboto.html">
    <link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="/bower_components/core-collapse/core-collapse.html">
    <link rel="import" href="/bower_components/core-menu/core-menu.html">
    <link rel="import" href="/bower_components/paper-dropdown/paper-dropdown.html">
    <link rel="import" href="/bower_components/paper-item/paper-item.html">
    <link rel="import" href="/bower_components/paper-menu-button/paper-menu-button.html">
    <link rel="import" href="/bower_components/paper-fab/paper-fab.html">
    <link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
    <link rel="import" href="/bower_components/paper-dialog/paper-action-dialog.html">
    <link rel="import" href="/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/bower_components/paper-input/paper-input.html">
    <link rel="import" href="/bower_components/paper-input/paper-char-counter.html">
    <link rel="import" href="/polymer/stick-figure.html">
    <link rel="import" href="/polymer/code-letter.html">
    <!-- Whoo! That was alot of polymer elements just for what I was trying todo... -->
  </head>
  <body ng-controller="MainCtrl">
	<core-toolbar style="background: #4285f4;">
	  <span flex>Top Secret Hangman</span>
	  <paper-menu-button>
        <paper-icon-button icon="translate"></paper-icon-button><span class="menu-text"> Encoding</span>
        <paper-dropdown class="dropdown">
          <core-menu class="menu">
              <paper-item ng-repeat="t in codeTypes track by $index" ng-click="setCodeType(t)">
                {{ t }}
              </paper-item>
          </core-menu>
        </paper-dropdown>
      </paper-menu-button>
	  <paper-item ng-click="newGame()">New Game</paper-item>
	</core-toolbar>
    <pre class="status" ng-bind="status">Loading Endpoints...</pre>
    <div id="game" class="hidden">
      <stick-figure size="400" wrongAnswers="{{ wrongAnswers }}"></stick-figure>
      <section id="code-letters">
        <span ng-repeat="letter in game.display_word track by $index" >
          <code-letter letter="{{ letter }}" type="{{ codeType }}"></code-letter>
        </span>
      </section>
      <section id="guesses">
        Guesses: {{ game.guesses }}
      </section>
    </div>
    <div class="launch">
    	<paper-button class="launch-button" ng-click="launch()" raised>Launch</paper-button>
    </div>
    <paper-fab icon="add" title="Add Guess" ng-click="toggleGuessDialog()"></paper-fab>
    <paper-action-dialog id="guess-dialog" backdrop autoCloseDisabled layered="false" heading="Submit Guess" >
      <section>
        <paper-input-decorator label="Make Your Guess"
                       error="You can only guess one character at a time!" floatingLabel isInvalid="false">
          <input id="guess" is="core-input" maxlength="2" ng-model="guess">
          <paper-char-counter class="counter" showCounter="false" target="guess"></paper-char-counter>
        </paper-input-decorator>
      </section>
      <paper-button affirmative>Cancel</paper-button><paper-button affirmative autofocus ng-click="makeGuess(guess)">Send</paper-button>
    </paper-action-dialog>
    <paper-action-dialog id="won-dialog" backdrop autoCloseDisabled layered="false" heading="Congrats!" >
      <section>
        <p>Yay! You won the game!</p>
      </section>
      <paper-button affirmative autofocus>Ok</paper-button>
    </paper-action-dialog>
    <paper-action-dialog id="lost-dialog" backdrop autoCloseDisabled layered="false" heading="Sorry!" >
      <section>
        <p>Oops! You lost the game!</p>
      </section>
      <paper-button affirmative autofocus ng-click="newGame()">New Game</paper-button>
    </paper-action-dialog>
  </body>
</html>
